@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');



body {
    font-family: "Libre Baskerville", sans-serif;
    background-color: black;
}

div {
    width: 50%;
    margin-left: 25%;
    color: white;
}

img {
    border: 5px solid white;
}